.profile-view-update label span.required {
  color: red;
}
.profile-view-update {
  position: absolute;
  right: 0;

  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 2px 2px 2px 2px lightgray;
  padding: 20px;
  width: 40%;
  border-radius: 10px;
}
.profile-view-update input,
.profile-view-update button {
  padding: 10px;
}
.profile-view-update div button {
  background-color: white;
  border: none;
}
.task-runthrough {
  display: flex;
  justify-content: space-around; /* evenly space items */
  gap: 10px; /* was 30px */
  padding: 10px; /* was 20px */
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;

  width: 90%;
}

.task-runthrough div {
  text-align: center;
  padding: 5px; /* was 10px */
  width: 33%;
  border: 1px solid grey;
  border-radius: 5px;
}

.task-runthrough div p:last-of-type {
  font-size: 40px;
  font-weight: 600;
  margin: 0px;
  padding: 5px;
}
.task-runthrough div p:first-of-type {
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  color: rgb(87, 87, 87);
}
.update-profile-btn {
  background: #e7f7ef;
  color: #097c44;
  width: 50%;
  margin: 0 auto;
  border: none;
  padding: 15px 0px !important;
  border-radius: 5px;
}
hr {
  border: 1px solid rgb(231, 231, 231);
  width: 90%;
}
@media screen and (max-width: 1024px) {
  .profile-view-update {
    width: 50%;
  }
  .task-runthrough {
    flex-wrap: wrap;
  }
  .task-runthrough div {
    width: 40%;
  }
  .task-runthrough div p {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 767px) {
  .profile-view-update {
    width: 50%;
  }
  .task-runthrough {
    flex-wrap: wrap;
  }
  .task-runthrough div {
    width: 30%;
  }
  .task-runthrough div p {
    font-size: 10px !important;
  }
}
