.title-add-todo {
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px lightgray;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}

.todo-list {
  width: 100%;
  border-collapse: collapse; /* Ensures borders and widths align */
  table-layout: fixed; /* Ensures equal-width columns */
  margin-top: 50px;
  background-color: #fff;
}

.todo-list th,
.todo-list td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: large;
}

.todo-list th {
  background-color: #f9fafb;
  font-weight: 600;
}

.todo-list td {
  word-wrap: break-word;
}
.edit-delete-view {
  display: flex;
  gap: 20px;
}
.edit-delete-view button {
  border: none;
  background-color: white;
}
.todo-form {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 20%;
  margin: 0 auto;
  gap: 10px;
  box-shadow: 2px 2px 2px 2px lightgray;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
.todo-form input,
.todo-form button {
  padding: 15px;
  border-radius: 5px;
}
.todo-form button {
  border: none;
}
.todo-form label span.required {
  color: red;
}
.task-overview {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  box-shadow: 1px 1px 1px 1px lightgray;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}
.task-overview div {
  width: 33%;
  text-align: center;
  padding: 20px !important;
}
.task-overview div:nth-child(1),
.task-overview div:nth-child(2) {
  border-right: 2px solid rgb(204, 204, 204);
}
.task-overview div span {
  font-size: 40px;
  font-weight: 600;
}

.status-upcoming {
  background: #ffd0230d;

  color: #e4b401;
  padding: 10px;
  border-radius: 5px;
}
.status-completed {
  background: #e7f7ef;
  color: #0caf60;
  padding: 10px;
  border-radius: 10px;
}
.edit-icon {
  background: #f4efff;

  color: #8c62ff;
}
.edit-icon,
.delete-icon {
  padding: 5px;
  font-size: 20px;
  border-radius: 2px;
}
.delete-icon {
  background: #fee9f1;
  color: #f44e8b;
}
@media screen and (max-width: 1024px) {
  .todo-form {
    height: 35vh;
    left: 5%;
    top: 20%;
    bottom: 50%;
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .task-overview {
    flex-direction: column;
  }
  .task-overview div {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    align-items: center;
    padding: 20px !important;
  }
  .task-overview div:nth-child(1),
  .task-overview div:nth-child(2) {
    border-right: none;
  }
  .todo-list th,
  .todo-list td {
    font-size: small;
    padding: 5px;
  }
  .status-upcoming {
    font-size: x-small;
    padding: 2px !important;
  }
  .status-completed {
    font-size: x-small;
    padding: 2px !important;
  }
  .edit-icon,
  .delete-icon {
    font-size: small;
  }
  .edit-delete-view {
    display: flex;
    gap: 5px;
  }
  .todo-form {
    height: 50vh;
    left: 5%;
    top: 50%;
    bottom: 50%;
    width: 70%;
  }
  .todo-form {
    height: 60vh;
  }
}
