.nav-container > * {
  text-decoration: none;
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-container a {
  text-decoration: none;
  color: #21252b;
  font-weight: 600;
}

.nav-container a:hover {
  background-color: none;
}
.profile-dropdown {
  position: absolute;
  right: 0;
  box-shadow: 1px 1px 1px 1px lightgray;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 10vw;
  border-radius: 5px;
}
.profile-dropdown div button {
  border: none;
  background-color: white;
}
